---
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card"
import { Button } from "./ui/button";

interface Props {
	positionTitle: string;
    positionDates: string;
    companyTitle: string;
    companyLink: string;
    companyImage: string;
    companyImageAlt: string;
}

const { positionTitle, positionDates, companyTitle, companyLink, companyImage, companyImageAlt } = Astro.props;

---

<div class="slideIn">
    <Card className="dark:bg-neutral-800 shadow-md hover:shadow-xl transition-all duration-100 md:px-6 md:py-6">
        <CardHeader>
            <div class="w-full h-full flex flex-row items-center gap-4 lg:gap-8 tracking-tight">
                <img class="object-contain w-12 sm:w-18 md:w-24 lg:h-32 lg:w-32 rounded-lg"
                    src={companyImage}
                    alt={companyImageAlt} 
                />
                <div class="h-full w-full flex flex-col lg:flex-row lg:justify-between lg:items-center ">
                    <CardTitle>
                        <a href={companyLink} class="text-base sm:text-xl md:text-2xl lg:text-4xl font-semibold transition-all hover:text-teal-600">
                            {companyTitle}
                        </a>
                        <p class="text-base sm:text-lg md:text-xl lg:text-2xl text-neutral-300 font-normal">{positionTitle}</p>
                    </CardTitle>
                    <p class="text-sm md:text-lg lg:text-xl font-thin text-neutral-400">{positionDates}</p>
                </div>
            </div>
        </CardHeader>
    </Card>
</div>

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});
</script>
