---
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card"
import { Button } from "./ui/button";

interface Props {
	cardTitle: string;
    cardTechnologies: string;
    cardImage: string;
    cardLink: string;
    cardTransition: string;
}

const { cardTitle, cardTechnologies, cardImage, cardLink, cardTransition } = Astro.props;

---

<div class="slideIn">
    <Card className="dark:bg-neutral-800 shadow-md hover:shadow-xl transition-all duration-100 ">
        <CardHeader>
            <img 
                src={cardImage}
                alt="project" 
                transition:name={`${cardTransition}`}
            />
            <CardTitle>
                <p class="mt-6 text-xl sm:text-2xl md:text-3xl font-semibold tracking-normal">{cardTitle}</p>
            </CardTitle>
            <CardDescription>
                <p class="text-neutral-300 font-normal">{cardTechnologies}</p>
            </CardDescription>
        </CardHeader>
        <CardContent>
            <a href={cardLink} class="w-full flex flex-row gap-2 items-center">
                <Button variant={"secondary"} size={"sm"} className="w-full  hover:-translate-y-1 duration-200 transition-all hover:shadow-md dark:bg-neutral-900">
                    View Project Info
                </Button>
            </a>
        </CardContent>
    </Card>
    
</div>


<script>
	//Callback function for intersectionObserver API
	const callback = function (entries: any) {
		entries.forEach((entry: any) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});
</script>
