---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { Button } from '@/components/ui/button';

interface Props {
	pageTitle: string;
    pageImage: string;
    pageAlt: string;
    pageTechnologies: string;
    pageLinkOne: string;
    pageLinkTwo: string;
    pageLinkOneText: string;
    pageLinkTwoText: string;
    pageTransition: string;
    pageDescription: string;
}

const { pageTitle, pageImage, pageAlt, pageTechnologies, pageLinkOne, pageLinkTwo, pageLinkOneText, pageLinkTwoText,  pageTransition, pageDescription } = Astro.props;
---

<Layout title="Alex Taveras-Crespo">
    <p id="header" class="hidden"></p>

    <div class="w-full h-full flex flex-col items-center justify-center py-24">

        <div class="w-full h-full flex flex-col container justify-center items-center gap-12">
            <div class="flex flex-col justify-center items-center gap-8">
                <div class="flex flex-col justify-center items-center gap-6">
                    <!-- Project Image -->
                    <img 
                    transition:name={`${pageTransition}`}
                    src={pageImage}
                    alt={pageAlt}
                    class="w-full lg:w-2/3 rounded-lg shadow-xl">
                    
                    <div class="w-full lg:w-2/3 flex flex-row gap-4 items-start">
                        <!-- Project links -->
                        { pageLinkOne != "" 
                            ? <a href={pageLinkOne} class="w-full flex flex-row gap-2 items-center">
                                <Button variant={"secondary"} size={"sm"} className="w-full  hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
                                    {pageLinkOneText}
                                </Button>
                            </a>
                            : <div></div>
                        }
                        

                        { pageLinkTwo != "" 
                            ? <a href={pageLinkTwo} class="w-full flex flex-row gap-2 items-center">
                                    <Button variant={"secondary"} size={"sm"} className="w-full  hover:-translate-y-1 duration-200 transition-all hover:shadow-md">
                                        {pageLinkTwoText}
                                    </Button>
                                </a>
                            : <div></div>
                        }
                    </div>
                </div>


                <div class="w-full lg:w-2/3 flex flex-col gap-2 items-start text-start">
                    <!-- Name -->
                    <h1 class="text-3xl md:text-4xl xl:text-5xl font-extrabold">{pageTitle}</h1>
                
                    <div class="flex flex-col gap-6 items-start ">
                        <!-- Technologies used -->
                        <h2 class="text-base md:text-lg lg:text-xl font-normal text-neutral-600">{pageTechnologies}</h2> 
                        <!-- Description -->
                        <p class="font-normal text-lg md:text-xl leading-relaxed max-w-4xl" set:html={pageDescription}></p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</Layout>